.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: #efefef;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 200px;

  button {
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    &:hover {
      opacity: 0.4;
    }
  }

  div {
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      max-width: 120px;
    }
  }
}
